<!DOCTYPE html>
<html> 
    <head>
        <title>AuroState Network</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Bona+Nova:wght@700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <link rel="stylesheet" href="../master.css">
        <link rel="stylesheet" href="home/home.css">
    </head>
    <body>
        <div class="div-top-container">
            <div class="div-left">
                <div class="div-a-logo-center-container">
                    <div class="div-p-center">
                        <a class="a-logo-center" href="<%= link_url_home %>">
                            AuroraState
                        </a>
                    </div>
                </div>   
                <div class="div-linkbar-container">
                    <a href="<%= link_url_project %>"  class="a-nav-top">Projects</a>
                    <a href="<%= link_url_about %>" class="a-nav-top">About</a>
                    <a href="<%= link_url_contact %>" class="a-nav-top">Contact</a>
                </div>
            </div>
            <div class="div-social">
                <button class="btn-logout" id="btn-logout">Logout</button>
                <a href="https://github.com/Ramirez0245" >
                    <i class="fa fa-github" ></i>
                </a>
                <a href="https://www.linkedin.com/in/omar-ramirez-49ba0a157/" >
                    <i class="fa fa-linkedin" ></i>
                </a>
            </div>
        </div>
        <main>  
            <div class="div-main">
                <div class="div-main-title">
                    <h1 class="h1-title">NEW NETWORK <br> PARADIGM</h1>
                    <div class="div-h2-welcome">
                        <h2>Welcome to my website</h2>
                        <p>Here you can find my current and future projects. 
                            <br> Feel frere to create a new user under project register .  </p>
                    </div>
                </div>
            </div>
        </main>
        <script type="module" src="home/home.js"></script>
        <script type="module" src="../../directory/directory.js"></script>
    </body>
</html>